<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial" parallel="tests">
	<test name="testngTest">
		<parameter name="Browser" value="chrome" />
		<classes>
			<class name="Runner.AppTest" />
		</classes>
	</test>
	<test name="testngTest2">
	<parameter name="Browser" value="ie" />
		<classes>
			<class name="Runner.AppTest2" />
		</classes>
	</test>
</suite>